# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DS_store
*.DS_store
HostCode/.DS_Store

# VScode
.vscode

#build files
_x.hw.xilinx_u55c_gen3x16_xdma_3_202210_1
_x.sw_emu.xilinx_u55c_gen3x16_xdma_3_202210_1
.run
_x
.ipcache
package.hw
.Xil
*.link.*
*.log
*.compile_summary
*.run_summary
*.package_summary
emconfig.json
opencl_trace.csv
summary.csv
build_*
Build/