# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DS_store
.DS_store
HostCode/.DS_Store

# VScode
.vscode
_x.sw_emu.xilinx_u55c_gen3x16_xdma_3_202210_1
build_dir.sw_emu.xilinx_u55c_gen3x16_xdma_3_202210_1
computeSW
sw_maxi
