# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DS_store
.DS_store
HostCode/.DS_Store

# VScode
.vscode
_x.sw_emu.xilinx_u55c_gen3x16_xdma_3_202210_1
build_dir.sw_emu.xilinx_u55c_gen3x16_xdma_3_202210_1
computeSW
sw_maxi
xrt.run_summary
.run/2043968/sw_emu/device0/binary_0/dltmp
.run/2043968/sw_emu/device0/binary_0/xmltmp
_x.hw.xilinx_u55c_gen3x16_xdma_3_202210_1/sw_maxi.xo.compile_summary
.run/2053279/sw_emu/device0/binary_0/xmltmp
.run/2053279/sw_emu/device0/binary_0/dltmp
xcd.log
v++_sw_maxi.log
v++_sw_maxi_2055787.backup.log
HostCode/host.cpp
.run/device_process.log
.run/2267187/sw_emu/device0/binary_0/dltmp
.run/2267187/sw_emu/device0/binary_0/xmltmp
.run/2271098/sw_emu/device0/memory_map_file
.run/2271098/sw_emu/device0/binary_0/xmltmp
.run/2271098/sw_emu/device0/binary_0/dltmp
.run/2272406/sw_emu/device0/memory_map_file
.run/2272406/sw_emu/device0/binary_0/dltmp
.run/2272406/sw_emu/device0/binary_0/xmltmp
.run/2273078/sw_emu/device0/memory_map_file
.run/2273078/sw_emu/device0/binary_0/dltmp
.run/2273078/sw_emu/device0/binary_0/xmltmp
.run/2277635/sw_emu/device0/memory_map_file
.run/2277635/sw_emu/device0/binary_0/dltmp
.run/2277635/sw_emu/device0/binary_0/xmltmp
v++_sw_maxi_2312453.backup.log
v++_sw_maxi.link.log
_x/v++_package_sw_maxi_guidance.pb3
_x/logs/package/package.steps.log
_x/logs/package/v++.log
_x/package/extractedSystemDiagram.json
_x/package/package.spr
_x/package/package.steps.log
_x/package/packagedSystemDiagram.json
_x/reports/package/v++_package_sw_maxi_guidance.html
emconfig.json
